Is there any plans to add Raw Public Key support in the near future?

https://tools.ietf.org/html/rfc7250

This feature is use for coap in iot devices.


@ubx-caloca How about PSK key exchange? Is your device support `TLS_PSK_WITH_AES_128_GCM_SHA256` cipher suite?

it's a requirement ( I wish it wasn't :)). I need to talk to a device that supports both TLS_PSK_WITH_AES_128_CCM_8 and TLS_ECDHE_ECDSA_WITH_AES_128_CCM_8 with Raw Public Key.

AES_128_CCM_8 cipher is deprecated. I do not want to implement deprecated ciphers. I suggest you to choose a cipher without _8 part. 

As I said before, its a requirement, sadly I cannot choose here. Actually, AES_128_CCM_8 is currently used for constraining environments.  It's a mandatory-to-implement cipher suite for secure coap (rfc 7252).  You can also check the description of the tinydtls project that is target specifically for that scenario (https://projects.eclipse.org/proposals/tinydtls).

It would be nice to have a pure nodejs dtls implementation that we can use to talk to those devices.



@ubx-caloca [RFC8323](https://tools.ietf.org/html/rfc8323#section-9) explains TLS usage for CoAP. I think i may create `TLS_PSK_WITH_AES_128_CCM_8` cipher suite (see [RFC7925](https://tools.ietf.org/html/rfc7925#section-4.2)). This is the simplest way.

The `TLS_ECDHE_ECDSA_WITH_AES_128_CCM_8` cipher suite required the "cached_info" extension from [RFC7924](https://tools.ietf.org/html/rfc7924). I do not want to implement any resource management system right now.

In this case, #20 required. I'm working on PSK key exchange.

@ubx-caloca Sorry, i changed my plans. I will not add new key exchange types in the near future. It’s hard to maintain by oneself.

I suggest you use native bindings.